# Criar ambiente virtual (no local apropriado)
cd backend
python3 -m venv .venv

# Ativar ambiente virtual (MacOS e Linux)
source venv/bin/activate

# instalação do flask + flask cors + pydantic + email-validator + pyJWT
pip install Flask Flask-CORS


pip install pydantic

pip install email-validator

pip install PyJWT