.home-top{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:35px;

}

.welcome h1{

font-size:38px;
font-weight:700;
color:#341608;
margin:0;

}

.welcome p{

margin-top:8px;
font-size:18px;
color:#8a817b;

}

.menu-btn{

background:#d53a24;
color:white;

border:none;

padding:14px 28px;

border-radius:12px;

font-size:15px;

font-weight:600;

cursor:pointer;

transition:.3s;

box-shadow:
0 10px 25px rgba(213,58,36,.35);

}

.menu-btn:hover{

transform:translateY(-2px);

background:#bc2d19;

}

.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:22px;

margin-bottom:45px;

}

.stat-card{

background:white;

border-radius:18px;

padding:28px;

box-shadow:
0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.stat-card:hover{

transform:translateY(-5px);

}

.stat-icon{

width:55px;

height:55px;

border-radius:50%;

background:#fff1df;

display:flex;

align-items:center;

justify-content:center;

font-size:28px;

margin-bottom:18px;

}

.stat-card h2{

margin:0;

font-size:30px;

color:#3d1809;

}

.stat-card p{

margin-top:8px;

color:#888;

font-size:15px;

}

.section-title{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.section-title h2{

font-size:28px;

margin:0;

color:#351605;

}

.pizza-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:24px;

margin-bottom:50px;

}

.orders{

background:white;

border-radius:20px;

padding:28px;

box-shadow:
0 10px 30px rgba(0,0,0,.08);

}

.orders-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.orders-header h2{

margin:0;

font-size:24px;

color:#351605;

}

.orders-header span{

color:#d53a24;

font-weight:600;

cursor:pointer;

}

.orders table{

width:100%;

border-collapse:collapse;

}

.orders th{

text-align:left;

padding:18px 0;

font-size:15px;

color:#7a6d64;

border-bottom:1px solid #eee;

}

.orders td{

padding:18px 0;

border-bottom:1px solid #f3f3f3;

font-size:15px;

}

.status{

padding:8px 15px;

border-radius:999px;

font-size:13px;

font-weight:600;

}

.ok{

background:#dff7e3;

color:#15803d;

}

.cancel{

background:#ffe3e3;

color:#d0312d;

}